
/*--Global Settings --*/

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*-- Background Section --*/

.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

/*-- Main Section --*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  width: 100%;
  padding: 1rem 0rem 1rem 2rem;
}

.logo-white {
  height: 1.5rem;
  padding-right: 1rem;
  vertical-align: middle;
}

nav {
  display: flex;
  margin-right: -8.5rem;
}

.nav-mobile {
  display: none;
}

.choice {
  display: flex;
  padding: 0 1rem;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  background-color: white;
  padding: 2.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin-left: 21rem;
  margin-right: -2rem;
  width: auto;

}

  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
    }

    nav {
      margin-right: -10.5rem;
    }

    .main {
      padding-top: 0;
      height: 22rem;
    }

    .slogan {
      margin-top: 5.5rem;
      font-size: 1.33rem;
      padding: 1.75rem 3.5rem 1.75rem 4rem;
      margin-left: 30rem;
      margin-right: 2rem;
    }
  }

 @media only screen and (max-width: 450px) {
  .container {
    width: 100%;
  }

  .main {
    background-position: 20% 0%;
  }

  .choice {
    display: none;
  }

  nav {
    margin-right: 2rem;
  }

  .nav-mobile {
    display: block;
  }

  .company-mobile {
    display: none;
  }

  .main {
    padding-top: 0;
    height: 17rem;
  }

  .slogan {
    font-size: 1rem;
    justify-content: center;
    margin: 9rem 0 0 0;
    padding: 1rem 0;
  }
}

  /*-- Services --*/

.services {
  height: 8rem;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  padding: 0 3rem;
}

.paper {
  width: 3.5rem;
  margin-bottom: 2rem;
}

.ruler {
  margin-bottom: 3.75rem;
}

.truck {
  margin-bottom: 3.25rem;
}

.ruler, .truck {
  width: 5rem;
}

.truck-mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .services {
  display: block;
  margin: 3.77rem 0;
  height: auto;
 }

 .icons {
   margin-bottom: 1.54rem;
   font-size: 0.77rem;
 }

 .paper, .ruler, .truck {
   margin-bottom: 1rem;
 }

 .truck-normal {
   display: none;
 }

 .truck-mobile {
   display: block;
 }
}

/*--Motto and Scheduling --*/

.lower {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 10%;
}

.bullet {
  background-color: cadetblue;
  width: 10rem;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.motto, .appts {
  width: 43%;
}

@media only screen and (max-width: 450px) {
  .lower {
    display: block;
  }

 .bullet {
   width: 100%;
   text-align: center;
  }

   .bullet-text {
    margin-bottom: 4rem;
   }

  .motto, .appts {
    width: 100%;
  }
}

/*-- Footer --*/

.footer {
  background-color: azure;
  padding: 4rem 1.5rem 4rem 4rem;
  margin-top: 5rem;
}

.logo-black {
  height: 1.5rem;
  padding-right: 1rem;
  vertical-align: middle;
}

@media only screen and (max-width: 450px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .copyright {
    display: none;
  }
}
